<div class="container py-5">
    <h1>Welcome, {{user.name}}</h1>
    <hr>

    <div class="row row-gap">
        <div class="col-12 col-md-4">

            <figure class="profile-Img h-100">
                <img class='object-fit-cover rounded' src=" {{user.profileImg}}" alt="{{user.profileImg}}">
            </figure>

        </div>
        <div class="col-12 col-md-8 d-flex flex-column justify-content-between">

            <div class="card h-100 justify-content-between">

                <article>
                    <h2>{{user.name}} {{user.lastName}}</h2>
                    <hr>
                    <h4>Your email is: </h4>
                    <p>{{user.email}}</p>
                    <h4>Role: </h4>
                    <p>{{user.role}}</p>
                </article>

                {{#if userRole.isAdmin}}
                <div class="d-flex flex-column flex-md-row justify-content-end justify-content-md-end gap-2">
                    <a href="/profile/{{user._id}}/edit" class="btn btn-custom ">Edit</a>

                    <form action="/profile/{{user._id}}/delete" method="POST" style="display: inline">
                        <input type="submit" value="Delete" class="btn btn-danger w-100">
                    </form>

                </div>
                {{/if}}

                {{#if userRole.isEditor}}
                <div class="d-flex flex-column flex-md-row justify-content-end justify-content-md-end gap-2">
                    <a href="/profile/{{user._id}}/edit" class="btn btn-custom ">Edit</a>

                    <form action="/profile/{{user._id}}/delete" method="POST" style="display: inline">
                        <input type="submit" value="Delete" class="btn btn-danger w-100">
                    </form>

                </div>
                {{/if}}

            </div>

        </div>
    </div>


    <div class="container card mt-4">
        <h2>My Favorites</h2>
        <hr>
        <div class="row justify-content-between">

            <div class="col-12 col-md-4 text-center">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet</p>
            </div>

        </div>
    </div>

    {{#if userRole.isAdmin}}
    <div class="container mt-4">

        <div class="row ">

            <div class="card">
                <div class="d-flex flex-column flex-md-row  justify-content-md-between align-items-center">
                    <h2 class="">My Bar</h2>
                    <a href="/profile/create-cocktail" class="btn btn-custom align-items-rigth col-12 col-md-4">Create
                        cocktails</a>
                </div>
                <hr>
                <div class="row">

                    {{#each cocktail}}
                    <div class="col-12 col-md-4 text-center">
                        <a href="/profile/cocktail-details/{{_id}}">
                            <figure class="bar-Img">
                                <img class='object-fit-cover rounded' src="{{image}}" alt="">
                            </figure>
                            <p>{{name}}</p>
                        </a>
                    </div>
                    {{/each}}

                </div>
            </div>

        </div>

    </div>
    {{/if}}

    {{#if userRole.isEditor}}
    <div class="container mt-4">

        <div class="row ">

            <div class="card">
                <div class="d-flex flex-column flex-md-row  justify-content-md-between align-items-center">
                    <h2 class="">My Bar</h2>
                    <a href="/profile/create-cocktail" class="btn btn-custom align-items-rigth col-12 col-md-4">Create
                        cocktails</a>
                </div>
                <hr>
                <div class="row">

                    {{#each cocktail}}
                    <div class="col-12 col-md-4 text-center">
                        <a href="/profile/cocktail-details/{{_id}}">
                            <figure class="bar-Img">
                                <img class='object-fit-cover rounded' src="{{image}}" alt="">
                            </figure>
                            <p>{{name}}</p>
                        </a>
                    </div>
                    {{/each}}

                </div>
            </div>

        </div>

    </div>
    {{/if}}





</div>