<div class="container py-5">
    <h1>COCKTAIL: {{name}}</h1>
    <hr>

    <div class="row row-gap mb-4" id="cocktails-details-top">

        <div class="col-12 col-md-3">

            <figure class="profile-Img h-100">
                <img class="object-fit-cover rounded" src="{{image}}" alt="{{image}}">
            </figure>

        </div>
        <div class="col-12 col-md-9 d-flex flex-colum justify-content-between">

            <div class="card w-100 ">

                <article>
                    <h2>{{name}}</h2>
                    <hr>

                    <h4>Type:</h4>
                    <p>{{type}}</p>

                    <h4>Creator:</h4>
                    <p>{{owner.name}}</p>
                </article>

            </div>
        </div>

    </div>

    <div class="container card mt-12">
        <h2>Ingredients:</h2>
        <hr>

        <ul>
            <li>Ingredient: {{ingredient1}}, Measure:{{measure1}} </li>
            <li>Ingredient: {{ingredient2}}, Measure:{{measure2}} </li>
            <li>Ingredient: {{ingredient3}}, Measure:{{measure3}} </li>
            <li>Ingredient: {{ingredient4}}, Measure:{{measure4}} </li>
            <li>Ingredient: {{ingredient5}}, Measure:{{measure5}} </li>
        </ul>


        <div class="col">
            <h2>Instructions: </h2>
            <hr>

            <div class="card px-2 py-2 mb-3 instructions-text">
                <p>{{instructions}}</p>
            </div>


            <div class="d-flex flex-column flex-md-row justify-content-end justify-content-md-end gap-2">
                <a href="/edit-cocktail/{{_id}}" class="btn btn-custom ">Edit</a>
                <form action="/delete-cocktail/{{_id}}" method="POST" style="display: inline">
                    <input type="submit" value="Delete" class="btn btn-danger col-12">
                </form>
            </div>

        </div>

    </div>