<div class="container py-5">
    <h1>COCKTAIL: {{name}}</h1>
    <hr>

    <div class="row row-gap mb-4">

        <div class="col-12 col-md-3">

            <figure class="profile-Img h-100">
                <img class="object-fit-cover roundeed" src="{{image}}" alt="{{image}}">
            </figure>

        </div>
        <div class="col-12 col-md-9 d-flex flex-colum justify-content-between">

            <div class="card w-100 h-70 justify-content-between-top">

                <article>
                    <h2>{{name}}</h2>
                    <hr>
                </article>

                <p>Type: {{type}}</p>

                <p>Creator:{{owner.name}}</p>
            </div>
        </div>
    </div>
    <div class="container card mt-12">
        <h2>Ingredients:</h2>
        <hr>

        <ul>
            {{#if ingredient1}}
            <li><strong> Ingredient:</strong> {{ingredient1}} <strong>Measure:</strong>{{measure1}}</li>
            {{/if}}

            {{#if ingredient2}}
            <li><strong>Ingredient:</strong> {{ingredient2}} <strong>Measure:</strong>{{measure2}}</li>
            {{/if}}

            {{#if ingredient3}}
            <li><strong>Ingredient:</strong> {{ingredient3}} <strong>Measure:</strong>{{measure3}}</li>
            {{/if}}

            {{#if ingredient4}}
            <li><strong>Ingredient:</strong>{{ingredient4}} <strong>Measure:</strong>{{measure4}}</li>
            {{/if}}

            {{#if ingredient5}}
            <li><strong>Ingredient:</strong> {{ingredient5}} <strong>Measure:</strong>{{measure5}}</li>
            {{/if}}
        </ul>


        <div class="col">
            <div class="card px-4 py-4 mb-3">
                <p>Instructions: {{instructions}}</p>
            </div>
            <a href="/edit-cocktail/{{_id}}" class="btn btn-custom align-items-rigth col-12 col-md-3">Edit</a>

            <form action="/delete-cocktail/{{_id}}" method="POST" style="display: inline">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>

    </div>