<div class="container py-5">
    <h1>COCKTAILque quiero mejorar: {{name}}</h1>
    <hr>

    <div class="row row-gap mb-4">

        <div class="col-12 col-md-3">

            <figure class="profile-Img h-100">
                <img class="object-fit-cover roundeed" src="{{image}}" alt="{{image}}">
            </figure>

        </div>
        <div class="col-12 col-md-9 d-flex flex-colum justify-content-between">

            <div class="card w-100 h-100 justify-content-between">

                <article>
                    <h2>{{name}}</h2>
                    <hr>
                </article>

                <p>Type: {{type}}</p>

                <p>Creator:{{owner.name}}</p>
            </div>
        </div>
    </div>
    <div class="container card mt-12">
        <h2>Ingredients:</h2>
        <hr>

        <ul>
            <li>Ingredient: {{ingredient1}}, Measure:{{measure1}} </li>
            <li>Ingredient: {{ingredient2}}, Measure:{{measure2}} </li>
            <li>Ingredient: {{ingredient3}}, Measure:{{measure3}} </li>
            <li>Ingredient: {{ingredient4}}, Measure:{{measure4}} </li>
            <li>Ingredient: {{ingredient5}}, Measure:{{measure5}} </li>
        </ul>


        <div class="col">
            <div class="card px-4 py-4">
                <p>Instructions: {{instructions}}</p>
            </div>
            <a href="/edit-cocktail/{{_id}}" class="btn btn-custom align-items-rigth col-12 col-md-3">Edit</a>

            <form action="/delete-cocktail/{{_id}}" method="POST" style="display: inline">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>

    </div>