<div class="container">
    {{#each drinks}}
    <h1>COCKTAIL en procesob: {{strDrink}}</h1>
    <hr>

    <div class="row row-gap mb-4">

        <div class="col-12 col-md-3">

            <figure class="profile-Img h-100">
                <img class="object-fit-cover roundeed" src="{{strDrinkThumb}}" alt="{{strDrinkThumb}}">
            </figure>

        </div>
        <div class="col-12 col-md-9 d-flex flex-colum justify-content-between">

            <div class="card w-100 h-100 justify-content-between">

                <article>
                    <h2>{{strDrink}}</h2>
                    <hr>
                </article>

                <p>Type: {{strAlcoholic}}</p>
            </div>
        </div>
        <div class="container card mt-12">
            <h2>Ingredients:</h2>
            <hr>

            <ul>
                <li>Ingredient: {{strIngredient1}}, Measure:{{strMeasure1}} </li>
                <li>Ingredient: {{strIngredient2}}, Measure:{{strMeasure2}} </li>
                <li>Ingredient: {{strIngredient3}}, Measure:{{strMeasure3}} </li>
                <li>Ingredient: {{strIngredient4}}, Measure:{{strMeasure4}} </li>
                <li>Ingredient: {{strIngredient5}}, Measure:{{strMeasure5}} </li>
                <li>Ingredient: {{strIngredient6}}, Measure:{{strMeasure6}} </li>
                <li>Ingredient: {{strIngredient7}}, Measure:{{strMeasure7}} </li>
                <li>Ingredient: {{strIngredient8}}, Measure:{{strMeasure8}} </li>
                <li>Ingredient: {{strIngredient9}}, Measure:{{strMeasure9}} </li>
                <li>Ingredient: {{strIngredient10}}, Measure:{{strMeasure10}} </li>
                <li>Ingredient: {{strIngredient11}}, Measure:{{strMeasure11}} </li>
                <li>Ingredient: {{strIngredient12}}, Measure:{{strMeasure12}} </li>
                <li>Ingredient: {{strIngredient13}}, Measure:{{strMeasure13}} </li>
                <li>Ingredient: {{strIngredient14}}, Measure:{{strMeasure14}} </li>
                <li>Ingredient: {{strIngredient15}}, Measure:{{strMeasure15}} </li>
            </ul>


            <div class="col">
                <div class="card px-4 py-4 mb-3">
                    <p>Instructions: {{strInstructions}}</p>
                </div>
                <form action="/{{idDrink}}/favorites" method="POST" style="display: inline">
                    <input type="submit" value="Add Favorite" class="btn btn-custom">
                </form>
            </div>

        </div>
        {{/each}}