<div class="container py-5">
    {{#each drinks}}
    <h1>COCKTAIL: {{strDrink}}</h1>
    <hr>

    <div class="row row-gap mb-4">

        <div class="col-12 col-md-3">

            <figure class="profile-Img h-100">
                <img class="object-fit-cover rounded" src="{{strDrinkThumb}}" alt="{{strDrinkThumb}}">
            </figure>

        </div>
        <div class="card col-12 col-md-9 d-flex flex-colum justify-content-between">

            <div class="w-100 h-100 justify-content-between">

                <article>
                    <h2>{{strDrink}}</h2>
                    <hr>
                    <h4>Type: </h4>
                    <p>{{strAlcoholic}}</p>
                </article>

                <form action="/{{idDrink}}/favorites" method="POST" style="display: inline">
                    <input type="submit" value="Add Favorite" class="btn btn-custom">
                </form>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="container card mt-12">
            <h1>Ingredients:</h1>
            <hr>

            <ul>
                {{#if strIngredient1}}
                <li><strong>Ingredient:</strong> {{strIngredient1}} ---------- <strong>Measure1:</strong>{{strMeasure1}}
                </li>
                {{/if}}

                {{#if strIngredient2}}
                <li><strong>Ingredient:</strong> {{strIngredient2}} ---------- <strong>Measure:</strong>{{strMeasure2}}
                </li>
                {{/if}}

                {{#if strIngredient3}}
                <li><strong>Ingredient:</strong> {{strIngredient3}} ---------- <strong>Measure:</strong>{{strMeasure3}}
                </li>
                {{/if}}

                {{#if strIngredient4}}
                <li><strong>Ingredient:</strong> {{strIngredient4}}
                    ----------<strong>strMeasure4:</strong>{{strMeasure4}} </li>
                {{/if}}

                {{#if strIngredient5}}
                <li><strong>Ingredient:</strong> {{strIngredient5}} ---------- <strong>Measure:</strong>{{strMeasure5}}
                </li>
                {{/if}}

                {{#if strIngredient6}}
                <li><strong>Ingredient:</strong> {{strIngredient6}} ---------- <strong>Measure:</strong>{{strMeasure6}}
                </li>
                {{/if}}

                {{#if strIngredient7}}
                <li><strong>Ingredient:</strong> {{strIngredient7}} ---------- <strong>Measure:</strong>{{strMeasure7}}
                </li>
                {{/if}}

                {{#if strIngredient8}}
                <li><strong>Ingredient:</strong> {{strIngredient8}} ---------- <strong>Measure:</strong>{{strMeasure8}}
                </li>
                {{/if}}

                {{#if strIngredient9}}
                <li><strong>Ingredient:</strong> {{strIngredient9}} ---------- <strong>Measure:</strong>{{strMeasure9}}
                </li>
                {{/if}}

                {{#if strIngredient10}}
                <li><strong>Ingredient:</strong> {{strIngredient10}} ----------<strong>Measure:</strong>{{strMeasure10}}
                </li>
                {{/if}}

                {{#if strIngredient11}}
                <li><strong>Ingredient:</strong> {{strIngredient11}} ----------<strong>Measure:</strong>{{strMeasure11}}
                </li>
                {{/if}}

                {{#if strIngredient12}}
                <li><strong>Ingredient:</strong> {{strIngredient12}} ----------<strong>Measure:</strong>{{strMeasure12}}
                </li>
                {{/if}}

                {{#if strIngredient13}}
                <li><strong>Ingredient:</strong> {{strIngredient13}} ----------<strong>Measure:</strong>{{strMeasure13}}
                </li>
                {{/if}}

                {{#if strIngredient14}}
                <li><strong>Ingredient:</strong> {{strIngredient14}} ----------<strong>Measure:</strong>{{strMeasure14}}
                </li>
                {{/if}}

                {{#if strIngredient15}}
                <li><strong>Ingredient:</strong> {{strIngredient15}} ----------<strong>Measure:</strong>{{strMeasure15}}
                </li>
                {{/if}}
            </ul>

            <div>

                <h1>Instructions:</h1>
                <hr>
                <div class="card px-2 py-2 instructions-text">
                    <p>{{strInstructions}}</p>
                </div>

            </div>

        </div>

    </div>
</div>
{{/each}}